pre {
    background-color: #e3e3e3
}
#content pre.sourceCode.sh {
    background-color: #f8ffff;
}

#content pre.sourceCode.r {
    background-color: #f3f3f3;
    border: 1px solid black;
}

summary {
    color: #ff7f00;
    font-weight: bold
}
